.btn {
  font-weight: 600;
}
body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4.0625rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.078125rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.875rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.59375rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.25rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.84375rem;
    font-size: calc( 2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.3rem;
    font-size: calc( 1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.825rem 3.75rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #4c4c4c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #4c4c4c !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #4c4c4c !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #000000 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #b2b2b2 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #b2b2b2 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #b2b2b2 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #4c4c4c !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #4c4c4c !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #4c4c4c !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #d669ff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #d669ff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #d669ff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #fafafa !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #fafafa !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #fafafa !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-black,
.btn-black:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #232323 !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #232323 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #232323 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4c4c4c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #212121 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #4c4c4c !important;
  background-color: #4c4c4c !important;
  border-color: #4c4c4c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b2b2b2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #878787 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #b2b2b2 !important;
  background-color: #b2b2b2 !important;
  border-color: #b2b2b2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4c4c4c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #212121 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #4c4c4c !important;
  background-color: #4c4c4c !important;
  border-color: #4c4c4c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d669ff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #be12ff !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #d669ff !important;
  background-color: #d669ff !important;
  border-color: #d669ff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #232323 !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #fafafa !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4c4c4c !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #4c4c4c !important;
}
.text-info {
  color: #b2b2b2 !important;
}
.text-warning {
  color: #d669ff !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #191919 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ffffff !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #999999 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #7f7f7f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ba03ff !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  /*  background-position: 0px 1.2em; */
}
.nav-tabs .nav-link.active {
  color: #4c4c4c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #b2b2b2;
}
.alert-warning {
  background-color: #d669ff;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4c4c4c;
  border-color: #4c4c4c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4c4c4c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bfbfbf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bfbfbf;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f2f2f2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4c4c4c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #4c4c4c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4c4c4c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4c4c4c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4c4c4c;
  border-bottom-color: #4c4c4c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4c4c4c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234c4c4c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.2s;
  font-weight: 500;
  box-shadow: none !important;
}
.btn {
  margin: 0;
  font-weight: 500;
}
p {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.text-secondary:hover {
  color: #dedede !important;
}
/*.btn-secondary:hover {
    color: #dedede !important;
}*/
.container {
  max-width: 1300px;
}
a.btn-primary:hover {
  color: #a0a5a5 !important;
}
.link {
  font-weight: 500;
}
.nav-item {
  transition-duration: .3s !important;
}
.nav-item:hover {
  transition-duration: .3s !important;
}
.navbar-toggler {
  border: transparent !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
body {
  line-height: 1.44em;
}
.mbr-section-title {
  letter-spacing: -1px;
  line-height: 1.07em;
  font-weight: 700;
}
.title {
  font-weight: 700;
}
.subtitle {
  font-weight: 500;
}
.mbr-section-subtitle {
  font-weight: 500;
}
.btn .mbr-iconfont {
  padding-right: 6px;
}
.cid-sIekqcMiL8 .navbar-dropdown {
  position: relative !important;
}
.cid-sIekqcMiL8 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIekqcMiL8 .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.cid-sIekqcMiL8 .dropdown-item:hover,
.cid-sIekqcMiL8 .dropdown-item:focus {
  color: #4c4c4c !important;
}
.cid-sIekqcMiL8 .nav-dropdown .link {
  padding: 0 0em !important;
  margin: 0.667em 2em 0.667em 1em !important;
}
.cid-sIekqcMiL8 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIekqcMiL8 .nav-link {
  position: relative;
  padding: 0;
}
.cid-sIekqcMiL8 .container {
  display: flex;
  margin: auto;
}
.cid-sIekqcMiL8 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIekqcMiL8 .dropdown-menu,
.cid-sIekqcMiL8 .navbar.opened {
  background: #1c1310 !important;
}
.cid-sIekqcMiL8 .nav-item:focus,
.cid-sIekqcMiL8 .nav-link:focus {
  outline: none;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIekqcMiL8 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIekqcMiL8 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIekqcMiL8 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIekqcMiL8 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #1c1310;
}
.cid-sIekqcMiL8 .navbar.opened {
  transition: all 0.3s;
}
.cid-sIekqcMiL8 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIekqcMiL8 .navbar .navbar-logo img {
  width: auto;
}
.cid-sIekqcMiL8 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIekqcMiL8 .navbar.collapsed {
  justify-content: center;
}
.cid-sIekqcMiL8 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIekqcMiL8 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIekqcMiL8 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIekqcMiL8 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIekqcMiL8 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIekqcMiL8 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIekqcMiL8 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIekqcMiL8 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIekqcMiL8 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIekqcMiL8 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIekqcMiL8 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIekqcMiL8 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIekqcMiL8 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIekqcMiL8 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIekqcMiL8 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIekqcMiL8 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIekqcMiL8 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIekqcMiL8 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIekqcMiL8 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIekqcMiL8 .dropdown-item.active,
.cid-sIekqcMiL8 .dropdown-item:active {
  background-color: transparent;
}
.cid-sIekqcMiL8 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIekqcMiL8 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIekqcMiL8 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIekqcMiL8 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1c1310;
}
.cid-sIekqcMiL8 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIekqcMiL8 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIekqcMiL8 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIekqcMiL8 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIekqcMiL8 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIekqcMiL8 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIekqcMiL8 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIekqcMiL8 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sIekqcMiL8 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sIekqcMiL8 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIekqcMiL8 .navbar {
    height: 70px;
  }
  .cid-sIekqcMiL8 .navbar.opened {
    height: auto;
  }
  .cid-sIekqcMiL8 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sIekqcMiL8 .line-animation {
  opacity: 0;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: all 0.2s ease-in-out;
}
.cid-sIekqcMiL8 .nav-link:hover .line-animation {
  opacity: 1;
}
.cid-sIekqcMiL8 a {
  display: inline;
  font-weight: bold;
}
.cid-sIekqcMiL8 img {
  display: inline;
  padding-right: 10px;
}
.cid-sIekqcMiL8 .dropdown-toggle:after {
  display: none;
}
.cid-sIekqcMiL8 .navbar .dropdown-item {
  display: block;
  border-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cid-sIekqcMiL8 .dropdown-item:hover {
  color: #d669ff !important;
}
@media (max-width: 990px) {
  .cid-sIekqcMiL8 .dropdown-menu {
    margin-top: 0px;
  }
  .cid-sIekqcMiL8 .nav-dropdown .link {
    margin: 0 !important;
  }
}
.cid-sIekqcMiL8 .mbr-buttons {
  margin: 20px -6px 20px;
}
.cid-sIekqcMiL8 ul {
  counter-reset: counter;
  margin: auto;
}
.cid-sIekqcMiL8 .nav-link::before {
  position: relative;
  display: block;
  top: -15px;
  left: 13px;
  font-size: 10px;
  line-height: 1;
  font-weight: 500;
  counter-increment: counter;
  content: counter(counter, decimal-leading-zero) ".";
  color: #ffffff;
  -webkit-transition: color 0.35s ease-out;
  -o-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}
.cid-sIekqcMiL8 .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.cid-sIekqcMiL8 .nav-item:hover .nav-link::before {
  color: currentColor;
}
.cid-sIekqcMiL8 ul li {
  height: 100px;
  display: flex;
}
.cid-sIekqcMiL8 a.text-white:hover {
  color: #ffffff !important;
}
.cid-sIekqcMiL8 a.text-primary:hover {
  color: #4c4c4c !important;
}
.cid-sIekqcMiL8 a.text-secondary:hover {
  color: #b2b2b2 !important;
}
.cid-sIekqcMiL8 a.text-success:hover {
  color: #4c4c4c !important;
}
.cid-sIekqcMiL8 a.text-info:hover {
  color: #b2b2b2 !important;
}
.cid-sIekqcMiL8 a.text-warning:hover {
  color: #d669ff !important;
}
.cid-sIekqcMiL8 a.text-danger:hover {
  color: #cccccc !important;
}
.cid-sIekqcMiL8 a.text-black:hover {
  color: #000000 !important;
}
@media (max-width: 970px) {
  .cid-sIekqcMiL8 ul li {
    height: 45px;
    display: list-item;
  }
}
.cid-sIekqcMiL8 .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.cid-sIekqcMiL8 .navbar-collapse.collapsing .nav-item {
  height: 45px;
}
.cid-sIekqcMiL8 .navbar-collapse.collapsing .nav-link {
  margin: 0.667em 1em !important;
}
.cid-sIekqcMiL8 .navbar-collapse.collapse.show .nav-item {
  height: 45px;
}
.cid-sIekqcMiL8 .navbar-collapse.collapse.show ul li {
  height: 45px;
  display: list-item;
}
.cid-sIekqcMiL8 .navbar-collapse.collapse.show .nav-link {
  margin: 0.667em 1em !important;
}
.cid-sIekqcMiL8 .mbr-iconfont {
  margin-left: -5px;
}
.cid-sHEeiC9sJh {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #1c1310;
}
@media (min-width: 992px) {
  .cid-sHEeiC9sJh .text-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 1000px) {
  .cid-sHEeiC9sJh .text-wrapper {
    padding: 2rem 0;
  }
}
.cid-sHEeiC9sJh .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-sHEeiC9sJh {
    margin-bottom: 2rem;
  }
}
.cid-sHEeiC9sJh .text-block {
  color: #565A69;
  margin-bottom: 50px;
}
.cid-sHEeiC9sJh .row.justify-content-between {
  margin-bottom: 3px;
  margin: 0;
}
.cid-sHEeiC9sJh .mbr-section-btn {
  padding-top: 53px;
  margin: 0px;
}
.cid-sHEeiC9sJh .desc {
  margin-top: 22px;
  color: #b2b2b2;
  font-weight: 500;
}
.cid-sHEeiC9sJh .btn-primary {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.cid-sHEeiC9sJh .btn-primary:hover {
  color: #000000 !important;
  background-color: #e3e3e3 !important;
  border-color: #e3e3e3;
}
.cid-sHEeiC9sJh .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.cid-sHEeiC9sJh .desc1 {
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEeiC9sJh .desc2 {
  font-weight: 700;
  margin-top: 20px;
  color: #ffffff;
}
.cid-sHEeiC9sJh .mbr-section-button {
  margin-top: 25px;
}
.cid-sWIYEqbnt8 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #1c1310;
}
.cid-sWIYEqbnt8 .item-wrapper {
  width: 100%;
}
.cid-sWIYEqbnt8 .left-side {
  text-align: left;
  padding-right: 45px;
  margin: auto;
}
.cid-sWIYEqbnt8 .mbr-section-btn {
  margin: 0 0px;
}
.cid-sWIYEqbnt8 .row {
  align-items: center;
}
.cid-sWIYEqbnt8 .mbr-section-title {
  margin: 0 0;
  color: #ffffff;
  font-weight: 700;
}
.cid-sWIYEqbnt8 .mbr-text {
  padding: 0;
  margin-top: 26px;
  color: #4c4c4c;
  font-weight: 500;
  width: 100%;
}
.cid-sWIYEqbnt8 .mbr-section-subtitle {
  color: #b2b2b2;
  width: 100%;
  padding-bottom: 2px;
  font-weight: 700;
}
.cid-sWIYEqbnt8 .button-align {
  margin-top: 36px;
  width: 100%;
}
.cid-sWIYEqbnt8 .right-side {
  padding: 0;
}
.cid-sWIYEqbnt8 .align {
  padding-right: 50px;
}
@media (max-width: 990px) {
  .cid-sWIYEqbnt8 .left-side {
    padding: 0;
  }
}
.cid-sWIYEqbnt8 .mbr-text,
.cid-sWIYEqbnt8 .button-align {
  color: #ffffff;
}
.cid-sHEflOBRZv {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #1c1310;
}
.cid-sHEflOBRZv .text {
  padding-top: 0;
}
.cid-sHEflOBRZv .card-title {
  margin-bottom: 0;
  margin-top: 22px;
  width: 100%;
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEflOBRZv .card-text {
  margin-top: 14px;
  width: 100%;
  font-weight: 500;
  color: #ffffff;
}
.cid-sHEflOBRZv .bottom {
  margin-bottom: 66px;
}
.cid-sHEflOBRZv .number {
  width: 100%;
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEflOBRZv .header {
  margin: 5px 0;
  font-weight: 700;
  color: #ffffff;
}
.cid-sHEflOBRZv .line {
  background-color: #ffffff;
  height: 1px;
  width: 100%;
}
@media (max-width: 770px) {
  .cid-sHEflOBRZv .top {
    padding-top: 60px;
  }
}
.cid-sWIXyS7mIQ {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #1c1310;
}
.cid-sWIXyS7mIQ .text {
  padding-top: 0;
}
.cid-sWIXyS7mIQ .card-title {
  margin-bottom: 0;
  margin-top: 22px;
  width: 100%;
  font-weight: 700;
  color: #ffffff;
}
.cid-sWIXyS7mIQ .card-text {
  margin-top: 14px;
  width: 100%;
  font-weight: 500;
  color: #ffffff;
}
.cid-sWIXyS7mIQ .bottom {
  margin-bottom: 66px;
}
.cid-sWIXyS7mIQ .number {
  width: 100%;
  font-weight: 700;
  color: #ffffff;
}
.cid-sWIXyS7mIQ .header {
  margin: 5px 0;
  font-weight: 700;
  color: #ffffff;
}
.cid-sWIXyS7mIQ .line {
  background-color: #ffffff;
  height: 1px;
  width: 100%;
}
@media (max-width: 770px) {
  .cid-sWIXyS7mIQ .top {
    padding-top: 60px;
  }
}
.cid-sWIWwfwVXa {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #1c1310;
}
.cid-sWIWwfwVXa .mbr-section-title {
  text-align: left;
  width: 100%;
  margin-bottom: 60px;
  font-weight: 700;
  padding: 0;
  color: #ffffff;
}
.cid-sWIWwfwVXa .mbr-section-subtitle {
  text-align: left;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #4c4c4c;
  padding: 0;
}
.cid-sWIWwfwVXa .title-block {
  justify-content: space-between;
}
.cid-sWIWwfwVXa .card-wrapper {
  width: auto;
  max-width: 100%;
}
.cid-sWIWwfwVXa .card-title {
  font-weight: 700;
  padding: 43px 0 0;
  color: #1d1d1f;
  text-align: left;
  margin-bottom: 0;
}
.cid-sWIWwfwVXa H3 {
  color: #1d1d1f;
}
@media (min-width: 575px) and (max-width: 990px) {
  .cid-sWIWwfwVXa .col-12:nth-child(3) {
    padding-top: 35px;
  }
  .cid-sWIWwfwVXa .card-title {
    padding: 13px 0 0;
  }
}
@media (max-width: 574px) {
  .cid-sWIWwfwVXa .col-12 {
    padding-top: 35px;
  }
  .cid-sWIWwfwVXa .col-12:first-child {
    padding-top: 0px;
  }
  .cid-sWIWwfwVXa .card-title {
    padding: 13px 0 0;
  }
}
.cid-sHEfKZXSoe {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1c1310;
}
.cid-sHEfKZXSoe .mbr-text {
  color: #ffffff;
  font-weight: 500;
}
.cid-sHEfKZXSoe .container {
  max-width: 1300px;
}
